apprise==1.4.5
celery==5.3.1
Django==4.2.4
django-auth-ldap==4.5.0
django-cors-headers==4.2.0
djangorestframework==3.14.0
Pillow==10.0.0
redis==5.0.0
requests==2.31.0
ryd-client==0.0.6
uWSGI==2.0.22
whitenoise==6.5.0
yt_dlp==2023.7.6
