# Git
.git
.gitignore

# Docker
.docker

# Python
tubearchivist/__pycache__/
tubearchivist/*/__pycache__/
tubearchivist/*/*/__pycache__/
tubearchivist/*/*/*/__pycache__/
.env/
.venv/
venv/

# Unneeded graphics
assets/*

# for local testing only
testing.sh