# Git
.git
.gitignore

# Docker
.docker

# Backend development
backend/static
backend/staticfiles

# Frontend development
frontend/node_modules

# Python
tubearchivist/__pycache__/
tubearchivist/*/__pycache__/
tubearchivist/*/*/__pycache__/
tubearchivist/*/*/*/__pycache__/
.env/
.venv/
venv/

# Unneeded graphics
assets/*

# for local testing only
testing.sh
