-r backend/requirements.txt
ipython==9.9.0
pre-commit==4.5.1
pylint-django==2.7.0
pylint==4.0.4
pytest-django==4.11.1
pytest==9.0.2
python-dotenv==1.2.1
requirementscheck==0.1.0
types-requests==2.32.4.20260107
