apprise==1.9.3
celery==5.5.0
django-auth-ldap==5.1.0
django-celery-beat==2.7.0
django-cors-headers==4.7.0
Django==5.1.7
djangorestframework==3.16.0
drf-spectacular==0.28.0
Pillow==11.1.0
redis==5.2.1
requests==2.32.3
ryd-client==0.0.6
uvicorn==0.34.0
whitenoise==6.9.0
yt-dlp[default]==2025.3.31
