:root {
    --main-bg: #eeeeee;
    --highlight-bg: #d9e0d9;
    --highlight-error: #990202;
    --highlight-error-light: #c44343;
    --highlight-bg-transparent: #00293baf;
    --main-font: #00202f;
    --accent-font-dark: #259485;
    --accent-font-light: #35b399;
    --img-filter: invert(50%) sepia(9%) saturate(2940%) hue-rotate(122deg) brightness(94%) contrast(90%);
    --img-filter-error: invert(16%) sepia(60%) saturate(3717%) hue-rotate(349deg) brightness(86%) contrast(120%);
    --banner: url("../img/banner-tube-archivist-light.png");
    --logo: url("../img/logo-tube-archivist-light.png");
}
