@font-face {
font-family: 'Sen-Bold';
    src:  url('../font/Sen-Bold.woff');
    font-family: 'Sen-Bold';
}

@font-face {
font-family: 'Sen-Regular';
    src:  url('../font/Sen-Regular.woff');
    font-family: 'Sen-Regular';
}

* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    background-color: var(--main-bg);
    min-height: 100%;
    display: grid;
    grid-template-rows: 1fr auto;
}

a {
    font-family: Sen-Regular, sans-serif;
    text-decoration: none;
    color: var(--accent-font-light);
}

h1 {
    font-family: Sen-Bold, sans-serif;
    font-size: 2.3em;
    color: var(--accent-font-light);
}

h2 {
    font-size: 1.2em;
    margin-bottom: 10px;
    font-family: Sen-Bold, sans-serif;
    color: var(--accent-font-dark);
}

h3 {
    font-size: 1.1em;
    margin-bottom: 7px;
    font-family: Sen-Regular, sans-serif;
    color: var(--accent-font-light);
}

p, i, li {
    font-family: Sen-Regular, sans-serif;
    margin-bottom: 10px;
    color: var(--main-font);
}

ul {
    margin-left: 20px;
}

td, span, label {
    font-family: Sen-Regular, sans-serif;
    color: var(--main-font);
}

select, input {
    padding: 5px;
    margin: 5px;
    border-radius: 0;
    color: var(--main-bg);
    background-color: var(--accent-font-light);
}

select {
    border: none;
}

input {
    border: solid 1px var(--main-font);
}

textarea {
    width: 100%;
}

button {
    border-radius: 0;
    padding: 5px 13px;
    border: none;
    cursor: pointer;
    background-color: var(--accent-font-dark);
    color: #ffffff;
}

button:hover {
    background-color: var(--accent-font-light);
    transform: scale(1.05);
    color: var(--main-bg);
}

.boxed-content {
    max-width: 1000px;
    width: 80%;
    margin: 0 auto;
}

.round-img img {
    border-radius: 50%;
}

.settings-current {
    color: var(--accent-font-light);
}

.top-banner {
    text-align: center;
}

.top-banner img {
    width: 100%;
    max-width: 700px;
}

.footer {
    margin: 0;
    padding: 20px 0;
    background-color: var(--accent-font-dark);
    grid-row-start: 2;
    grid-row-end: 3;
}

.footer a {
    text-decoration: underline;
}

/* toggle on-off */
.toggle {
    display: flex;
    align-items: center;
}

.toggleBox > input[type="checkbox"] {
    position: relative;
    width: 70px;
    height: 30px;
    background-color: var(--accent-font-dark);
    border-color: var(--accent-font-dark);
    appearance: none;
    border-radius: 15px;
    transition: 0.4s;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.toggleBox > input:checked[type="checkbox"] {
    background-color: var(--accent-font-light);
    border-color: var(--accent-font-light);
}

.toggleBox > input[type="checkbox"]::before {
    z-index: 2;
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 50%;
    transform: scale(1.1);
    transition: 0.4s;
}

.toggleBox > input:checked[type="checkbox"]::before {
    left: 40px;
}

.toggleBox {
    margin-left: 10px;
    position: relative;
    display: inline;
}

.toggleBox > label {
    position: absolute;
    color: var(--main-font);
    pointer-events: none;
}

.toggleBox > .onbtn {
    bottom: 15px;
    left: 15px;
    font-family: Sen-Regular, sans-serif;
}

.toggleBox > .ofbtn {
    bottom: 15px;
    right: 15px;
    font-family: Sen-Regular, sans-serif;
    color: var(--main-font);
}

/* delete button */
.delete-confirm {
    display: none;
}

.delete-confirm button {
    margin: 3px 0;
}

.danger-button {
    background-color: var(--highlight-error);
}

.danger-button:hover {
    background-color: var(--highlight-error-light);
}

/* navigation */
.top-nav {
    display: block;
    padding: 5px 0;
    position: relative;
}

.nav-items {
    width: 100%;
    display: flex;
    justify-content: center;
}

.nav-item {
    font-size: 1.3em;
    padding: 10px 20px;
    margin: 0 10px;
    border-bottom: 2px solid;
    color: var(--accent-font-dark);
}

.nav-icons {
    width: auto;
    display: inline-flex;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0,-50%);
}

.nav-icons img {
    width: 40px;
    padding: 0 5px;
    filter: var(--img-filter);
}

/* top of page */
.title-bar {
    padding: 20px 0;
}

.sort {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

.padding-box {
    padding: 30px 0;
}

.two-col {
    display: flex;
}

.two-col > div {
    width: 50%;
}

.search-form input {
    width: 90%;
}

.search-icon {
    flex: 0 0 40px;
}

.search-icon img {
    width: 100%;
    cursor: pointer;
    filter: var(--img-filter);
}

.view-controls {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-bottom: 2px solid;
    border-color: var(--accent-font-dark);
    margin: 15px 0;
}

.view-icons {
    display: flex;
    justify-content: end;
}

.view-icons img {
    width: 30px;
    margin: 5px 10px;
    cursor: pointer;
    filter: var(--img-filter);
}

#search-box {
    display: none;
    flex: auto;
    padding: 10px;
}

#hidden-form {
    display: none;
}

#text-reveal {
    height: 0px;
    overflow: hidden;
}


/* video player */
.player-wrapper {
    background-color: var(--highlight-bg);
    margin: 20px 0;
}

.video-player {
    display: grid;
    align-content: space-evenly;
    height: 100vh;
}

.video-player video,
.video-main video {
    max-height: 80vh;
    width: 90%;
    max-width: 1500px;
    margin: 0 auto;
    display: block;
}

.player-title img {
    width: 30px;
    margin: 10px 10px 10px 0;
}

/* video list */
.video-list.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
}

.video-list.list {
    display: grid;
    grid-template-columns: unset;
    grid-gap: 1rem;
}

.video-item {
    overflow: hidden;
}

.video-item.list {
    display: grid;
    grid-template-columns: 25% auto;
}

.video-thumb img {
    width: 100%;
}

.video-play img {
    width: 40px;
    filter: var(--img-filter);
}

.video-thumb-wrap {
    position: relative;
}

.video-thumb-wrap:hover > .video-play {
    opacity: 1;
    padding: 15px;
}

.video-play {
    opacity: 0;
    transition: all 0.3s ease-in-out;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%,-50%);
    background-color: var(--highlight-bg);
    border-radius: 50%;
    padding: 8px;
}

.video-desc.grid {
    padding: 10px;
    height: 100%;
    background-color: var(--highlight-bg);
}

.video-desc.list {
    padding: 10px;
    height: unset;
    background-color: var(--highlight-bg);
    display: flex;
    flex-wrap: wrap-reverse;
    align-content: center;
}

.video-desc > div {
    width: 100%;
}

.video-desc img {
    width: 20px;
    margin-right: 10px;
}

.video-desc a {
    text-decoration: none;
    text-align: left;
}

.video-desc h3,
.player-title h3 {
    font-size: 0.9em;
    text-transform: uppercase;
}

.video-desc-player {
    margin-bottom: 8px;
    display: flex;
    align-items: center;
}

.unseen-icon,
.seen-icon,
.close-button {
    cursor: pointer;
    filter: var(--img-filter);
}

.video-more {
    text-decoration: underline;
    text-align: right;
}


/* pagination */
.pagination {
    padding: 30px 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.pagination-item {
    padding: 5px;
    border: 1px solid;
}


/* info box */
.info-box {
    display: grid;
    grid-gap: 1rem;
}

.description-box {
    margin-top: 1rem;
}

.info-box-3 {
    grid-template-columns: 1fr 1fr 1fr;
}

.info-box-2 {
    grid-template-columns: 1fr 1fr;
}

.info-box img {
    width: 80px;
    margin: 0 15px;
}

.info-box-item {
    display: flex;
    align-items: center;
    padding: 15px;
    background-color: var(--highlight-bg);
}

.description-text {
    width: 100%;
}

.description-text br {
    margin-bottom: 10px;
}

/* login */
.login-page {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    align-content: center;
}

.login-page > * {
    width: 100%;
}

.login-page img {
    width: 100%;
    max-width: 200px;
    max-height: 200px;
    margin-bottom: 40px;
}

.login-page form {
    margin: 30px 0;
}

.login-page input {
    min-width: 200px;
}

.login-page button,
.login-page .danger-zone {
    width: 210px;
    margin-top: 5px;
}

.login-links a {
    text-decoration: underline;
    margin: 30px 0;
    padding: 20px;
}

.footer-colors {
    grid-row-start: 2;
    grid-row-end: 3;
    display: flex;
}

.footer-colors div {
    padding: 20px 0;
    width: 33.33%;
}

.col-1 {
    background-color: var(--highlight-bg);
}

.col-2 {
    background-color: var(--accent-font-dark);
}

.col-3 {
    background-color: var(--accent-font-light);
}

/* video page */
.video-main {
    margin: 1rem 0;
}

.video-main video {
    max-height: 70vh;
    margin-bottom: 1rem;
}

.video-info-watched {
    display: flex;
    align-items: center;
}

.video-info-watched img {
    width: 20px;
    margin-left: 5px;
}

.thumb-icon img,
.rating-stars img {
    width: 20px;
    margin: 0;
    filter: var(--img-filter);
}

.thumb-icon.dislike img {
    transform: rotate(180deg);
}

.playlist-wrap {
    background-color: var(--highlight-bg);
    margin: 1rem 0;
    padding: 1rem;
}

.playlist-wrap > a > h3 {
    text-align: center;
}

.playlist-nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 10px;
}

.playlist-nav-item {
    display: flex;
    justify-content: space-between;
}

.playlist-nav-item img {
    width: 200px;
}

.playlist-desc {
    padding: 5px;
    width: 100%;
}

/* channel overview page */
.channel-list.list {
    display: block;
}

.channel-list.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}

.channel-item.list {
    padding-bottom: 1rem;
}

.channel-item.grid > .info-box {
    display: block;
}

.channel-banner img {
    margin-top: 1rem;
    width: 100%;
}

.channel-banner.grid {
    overflow: hidden;
}

.channel-banner.list img {
    width: 100%;
}

.channel-banner.grid img {
    width: 250%;
    transform: translateX(-30%);
}

/* playlist overview page */
.playlist-list.list {
    display: grid;
    grid-template-columns: unset;
    gap: 1rem;
}

.playlist-list.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}

.playlist-item {
    overflow: hidden;
}

.playlist-item.list {
    display: flex;
}

.playlist-thumbnail img {
    width: 100%;
}

.playlist-desc.grid {
    padding: 10px;
    height: 100%;
    background-color: var(--highlight-bg);
}

.playlist-desc.list {
    width: 100%;
    padding: 10px;
    height: unset;
    background-color: var(--highlight-bg);
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

.playlist-desc.list > * {
    width: 100%;
}

/* download page */
.icon-text {
    background-color: var(--highlight-bg);
    text-align: center;
    padding: 15px;
}

.icon-text img {
    filter: var(--img-filter);
    cursor: pointer;
}

.dl-list.list {
    display: block;
}

.dl-list.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
}

.dl-item.list {
    display: flex;
    margin: 15px 0;
    align-items: center;
    background-color: var(--highlight-bg);
}

.dl-item.grid {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--highlight-bg);
}

.dl-check {
    width: 30px;
}

.dl-item:hover > .dl-thumb span {
    opacity: 1;
}

.dl-thumb {
    position: relative;
}

.dl-thumb span {
    position: absolute;
    top: 5px;
    left: 5px;
    background-color: var(--accent-font-light);
    padding: 5px;
    opacity: 0;
    transition: 300ms ease-in-out;
}

.dl-thumb.list {
    width: 25%;
}

.dl-thumb.grid {
    width: 100%;
}

.dl-item img {
    width: 100%;
}

.dl-desc.list {
    padding: 0 15px;
    width: 75%;
}

.dl-desc.grid {
    padding: 15px;
    width: 100%;
}

.dl-control-icons {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}

.dl-control-icons img {
    width: 30px;
    cursor: pointer;
    margin: 5px;
}

#stop-icon {
    filter: var(--img-filter);
}

#kill-icon {
    filter: var(--img-filter-error);
}

.title-split {
    display: flex;
    justify-content: space-between;
}

/* status message */
.notification {
    background-color: var(--highlight-bg);
    text-align: center;
    padding: 30px 0 15px 0;
    margin: 1rem 0;
}

.notification.info {
    background-color: var(--highlight-bg);
}

.notification.error {
    background-color: var(--highlight-error);
}

.notification.error h3 {
    color: #fff;
}

/* settings */
.settings-group {
    background-color: var(--highlight-bg);
    padding: 20px;
    margin: 20px 0;
}

.settings-item {
    margin-top: 25px;
}

.settings-item input {
    min-width: 300px;
}

.danger-zone {
    background-color: var(--highlight-error);
    color: #fff;
    padding: 3px;
}

/* about */
.about-section {
    padding: 20px 0;
}

.about-section ol {
    margin-left: 20px;
}

.about-section ul {
    margin-top: 15px;
}

.about-section li {
    margin-bottom: 10px;
}

.about-icon img {
    margin-left: 5px;
    width: 20px;
    cursor: unset;
}

/* animation */
.rotate-img {
    animation: rotation 4s infinite linear;
}

.bounce-img {
    animation: bounce 1.5s infinite ease-in-out alternate;
}

.pulse-img {
    animation: pulse 1.5s infinite ease-in-out alternate;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

@keyframes bounce {
    0% {
        transform: translateY(-5%);
    }
    100% {
        transform: translateY(5%);
        scale: 1.15;
    }
}

@keyframes pulse {
    0% {
        scale: 1;
    }
    100% {
        scale: 1.15;
    }
}

/* tablet */
@media screen and (max-width: 1000px) {
    .boxed-content {
        width: 90%;
    }
    .video-list.grid,
    .dl-list.grid,
    .channel-list.grid,
    .playlist-list.grid {
        grid-template-columns: 1fr 1fr;
    }
    .dl-thumb.list {
        width: 35%;
    }
    .video-item.list,
    .playlist-item.list {
        display: grid;
        grid-template-columns: 35% auto;
    }
    .two-col {
        display: block;
    }
    .two-col > div {
        width: 100%;
    }
    .top-nav {
        flex-wrap: wrap-reverse;
        display: flex;
    }
    .nav-icons {
        width: 100%;
        justify-content: center;
        position: unset;
        transform: unset;
    }
    .video-player {
        height: unset;
        padding: 20px 0
    }
    .video-player video {
        width: 90%;
    }
}

/* phone */
@media screen and (max-width: 600px) {
    * {
        word-wrap: anywhere;
    }
    .video-list.grid,
    .dl-list.grid,
    .channel-list.grid,
    .video-item.list,
    .playlist-list.list,
    .playlist-list.grid {
        grid-template-columns: 1fr;
    }
    .playlist-item.list {
        display: block;
    }
    .video-desc.grid {
        height: unset;
        display: flex;
        flex-wrap: wrap-reverse;
    }
    .boxed-content {
        width: 95%;
    }
    .footer {
        text-align: center;
    }
    .toggle {
        flex-wrap: wrap;
    }
    .nav-items {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .nav-item {
        padding: 5px 0;
        margin: 15px;
        text-align: center;
    }
    .sort {
        display: block;
    }
    .sort select {
        margin: unset;
    }
    .info-box-2,
    .info-box-3 {
        grid-template-columns: 1fr;
    }
    .description-box {
        display: block;
    }
    .dl-item {
        display: block;
    }
    .dl-thumb {
        width: 100%;
    }
    .dl-desc {
        padding: 15px;
    }
    .playlist-nav {
        display: block;
        grid-template-columns: unset;
    }
    .playlist-nav-item {
        display: block;
        justify-content: unset;
    }
    .playlist-nav-item img {
        width: 100%;
    }
}
