{# Base file for all of the settings pages to ensure a common menu #}
{% extends "home/base.html" %}
{% load static %}
{% load auth_extras %}
{% block content %}
<div class="boxed-content">
    <div class="info-box-item child-page-nav">
        <a href="{% url 'settings' %}"><h3>Dashboard</h3></a>
        <a href="{% url 'settings_user' %}"><h3>User</h3></a>
        {% if request.user|has_group:"admin" or request.user.is_staff %}
            <a href="{% url 'settings_application' %}"><h3>Application</h3></a>
            <a href="{% url 'settings_scheduling' %}"><h3>Scheduling</h3></a>
            <a href="{% url 'settings_actions' %}"><h3>Actions</h3></a>
        {% endif %}
    </div>
    <div id="notifications" data=""></div>
    {% block settings_content %}{% endblock %}
</div>
<script type="text/javascript" src="{% static 'progress.js' %}"></script>
{% endblock content %}
