{% extends "home/base.html" %}
{% block content %}
{% load static %}
{% load humanize %}
{% load auth_extras %}

<div class="boxed-content">
    <div class="channel-banner">
        <a href="/channel/{{ channel_info.channel_id }}/"><img src="/cache/channels/{{ channel_info.channel_id }}_banner.jpg" alt="channel_banner"></a>
    </div>
    <div class="info-box-item child-page-nav">
        <a href="{% url 'channel_id' channel_info.channel_id %}"><h3>Videos</h3></a>
        {% if has_streams %}
            <a href="{% url 'channel_id_live' channel_info.channel_id %}"><h3>Streams</h3></a>
        {% endif %}
        {% if has_shorts %}
            <a href="{% url 'channel_id_shorts' channel_info.channel_id %}"><h3>Shorts</h3></a>
        {% endif %}
        {% if has_playlists %}
            <a href="{% url 'channel_id_playlist' channel_info.channel_id %}"><h3>Playlists</h3></a>
        {% endif %}
        <a href="{% url 'channel_id_about' channel_info.channel_id %}"><h3>About</h3></a>
        {% if has_pending %}
            {% if request.user|has_group:"admin" or request.user.is_staff %}
                <a href="{% url 'downloads' %}?channel={{ channel_info.channel_id }}"><h3>Downloads</h3></a>
            {% endif %}
        {% endif %}
    </div>
    <div id="notifications" data="channel reindex"></div>
    <div class="info-box info-box-2">
        <div class="info-box-item">
            <div class="round-img">
                <a href="{% url 'channel_id' channel_info.channel_id %}">
                    <img src="/cache/channels/{{ channel_info.channel_id }}_thumb.jpg" alt="channel-thumb">
                </a>
            </div>
            <div>
                <h3><a href="{% url 'channel_id' channel_info.channel_id %}">{{ channel_info.channel_name }}</a></h3>
                {% if channel_info.channel_subs >= 1000000 %}
                    <p>Subscribers: {{ channel_info.channel_subs|intword }}</p>
                {% else %}
                    <p>Subscribers: {{ channel_info.channel_subs|intcomma }}</p>
                {% endif %}
                {% if channel_info.channel_subscribed %}
                    {% if request.user|has_group:"admin" or request.user.is_staff %}
                    <button class="unsubscribe" type="button" data-type="channel" data-subscribe="" data-id="{{ channel_info.channel_id }}" onclick="subscribeStatus(this)" title="Unsubscribe from {{ channel_info.channel_name }}">Unsubscribe</button>
                    {% endif %}
                {% else %}
                    <button type="button" data-type="channel" data-subscribe="true" data-id="{{ channel_info.channel_id }}" onclick="subscribeStatus(this)" title="Subscribe to {{ channel_info.channel_name }}">Subscribe</button>
                {% endif %}
            </div>
        </div>
        <div class="info-box-item">
            {% if aggs %}
                <p>{{ aggs.total_items.value }} videos <span class="space-carrot">|</span> {{ aggs.total_duration.value_str }} playback <span class="space-carrot">|</span> Total size {{ aggs.total_size.value|filesizeformat }}</p>
                <div class="button-box">
                    <button title="Mark all videos from {{ channel_info.channel_name }} as watched" type="button" id="watched-button" data-id="{{ channel_info.channel_id }}" onclick="isWatchedButton(this)">Mark as watched</button>
                    <button title="Mark all videos from {{ channel_info.channel_name }} as unwatched" type="button" id="unwatched-button" data-id="{{ channel_info.channel_id }}" onclick="isUnwatchedButton(this)">Mark as unwatched</button>
                </div>
            {% endif %}
        </div>
    </div>
</div>
<div class="boxed-content {% if view_style == "grid" %}boxed-{{ grid_items }}{% endif %}">
    <div class="view-controls three">
        <div class="toggle">
            <span>Hide watched videos:</span>
            <div class="toggleBox">
                <input id="hide_watched" onclick="toggleCheckbox(this)" type="checkbox" {% if hide_watched %}checked{% endif %}>
                {% if not hide_watched %}
                    <label for="" class="ofbtn">Off</label>
                {% else %}
                    <label for="" class="onbtn">On</label>
                {% endif %}
            </div>
        </div>
        <div class="sort">
            <div id="hidden-form">
                <span>Sort by:</span>
                <select name="sort_by" id="sort" onchange="sortChange(this)">
                    <option value="published" {% if sort_by == "published" %}selected{% endif %}>date published</option>
                    <option value="downloaded" {% if sort_by == "downloaded" %}selected{% endif %}>date downloaded</option>
                    <option value="views" {% if sort_by == "views" %}selected{% endif %}>views</option>
                    <option value="likes" {% if sort_by == "likes" %}selected{% endif %}>likes</option>
                    <option value="duration" {% if sort_by == "duration" %}selected{% endif %}>duration</option>
                    <option value="filesize" {% if sort_by == "filesize" %}selected{% endif %}>file size</option>
                </select>
                <select name="sort_order" id="sort-order" onchange="sortChange(this)">
                    <option value="asc" {% if sort_order == "asc" %}selected{% endif %}>asc</option>
                    <option value="desc" {% if sort_order == "desc" %}selected{% endif %}>desc</option>
                </select>
            </div>
        </div>
        <div class="view-icons">
            <img src="{% static 'img/icon-sort.svg' %}" alt="sort-icon" onclick="showForm()" id="animate-icon">
            {% if view_style == "grid" %}
            <div class="grid-count">
                {% if grid_items < 7 %}
                    <img src="{% static 'img/icon-add.svg' %}" onclick="changeGridItems(this)" data-value="{{ grid_items|add:"1"}}" alt="grid plus row">
                {% endif %}
                {% if grid_items > 3 %}
                    <img src="{% static 'img/icon-substract.svg' %}" onclick="changeGridItems(this)" data-value="{{ grid_items|add:"-1"}}" alt="grid minus row">
                {% endif %}
            </div>
            {% endif %}
            <img src="{% static 'img/icon-gridview.svg' %}" onclick="changeView(this)" data-origin="home" data-value="grid" alt="grid view">
            <img src="{% static 'img/icon-listview.svg' %}" onclick="changeView(this)" data-origin="home" data-value="list" alt="list view">
        </div>
    </div>
</div>
<div id="player" class="player-wrapper"></div>
<div class="boxed-content {% if view_style == "grid" %}boxed-{{ grid_items }}{% endif %}">
    <div class="video-list {{ view_style }} {% if view_style == "grid" %}grid-{{ grid_items }}{% endif %}">
        {% if results %}
            {% for video in results %}
                <div class="video-item {{ view_style }}">
                    <a href="#player" data-id="{{ video.youtube_id }}" onclick="createPlayer(this)">
                        <div class="video-thumb-wrap {{ view_style }}">
                            <div class="video-thumb">
                                <img src="{{ video.vid_thumb_url }}" alt="video-thumb">
                                {% if video.player.progress %}
                                    <div class="video-progress-bar" id="progress-{{ video.youtube_id }}" style="width: {{video.player.progress}}%;"></div>
                                {% else %}
                                    <div class="video-progress-bar" id="progress-{{ video.youtube_id }}" style="width: 0%;"></div>
                                {% endif %}
                            </div>
                            <div class="video-play">
                                <img src="{% static 'img/icon-play.svg' %}" alt="play-icon">
                            </div>
                        </div>
                    </a>
                    <div class="video-desc {{ view_style }}">
                        <div class="video-desc-player" id="video-info-{{ video.youtube_id }}">
                            {% if video.player.watched %}
                                <img src="{% static 'img/icon-seen.svg' %}" alt="seen-icon" data-id="{{ video.youtube_id }}" data-status="watched" onclick="updateVideoWatchStatus(this)" class="watch-button" title="Mark as unwatched">
                            {% else %}
                                <img src="{% static 'img/icon-unseen.svg' %}" alt="unseen-icon" data-id="{{ video.youtube_id }}" data-status="unwatched" onclick="updateVideoWatchStatus(this)" class="watch-button" title="Mark as watched">
                            {% endif %}
                            <span>{{ video.published }} | {{ video.player.duration_str }}</span>
                        </div>
                        <div>
                            <a class="video-more" href="{% url 'video' video.youtube_id %}"><h2>{{ video.title }}</h2></a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <h2>No videos found...</h2>
            <p>Try going to the <a href="{% url 'downloads' %}">downloads page</a> to start the scan and download tasks.</p>
        {% endif %}
    </div>
</div>
<script type="text/javascript" src="{% static 'progress.js' %}"></script>
{% endblock content %}