{% extends "home/base_playlist.html" %}
{% load static %}
{% load auth_extras %}
{% block playlist_content %}

<div class="boxed-content">
    <div class="title-split">
        <div class="title-bar">
            <h1>Custom Playlists</h1>
        </div>
        {% if request.user|has_group:"admin" or request.user.is_staff %}

        <div class="title-split-form">
            <img id="animate-icon" onclick="showForm()" src="{% static 'img/icon-add.svg' %}" alt="add-icon" title="Create Custom Playlist">
            <div class="show-form">
                <form id="hidden-form" action="/custom_playlist/" method="post">
                    {% csrf_token %}
                    {{ create_form }}
                    <button type="submit">Create</button>
                </form>
            </div>
        </div>
        {% endif %}

    </div>
    <div id="notifications" data="subscription"></div>
    <div class="view-controls">
        <div class="view-icons">
            <img src="{% static 'img/icon-gridview.svg' %}" onclick="changeView(this)" data-origin="custom_playlist" data-value="grid" alt="grid view">
            <img src="{% static 'img/icon-listview.svg' %}" onclick="changeView(this)" data-origin="custom_playlist" data-value="list" alt="list view">
        </div>
    </div>
    <div class="playlist-list {{ view_style }}">
        {% if results %}
            {% for playlist in results %}
            <div class="playlist-item {{ view_style }}">
                <div class="playlist-thumbnail">
                    <a href="{% url 'custom_playlist_id' playlist.playlist_id %}">
                        <img src="/cache/custom_playlists/{{ playlist.playlist_id }}.jpg" alt="{{ playlist.playlist_id }}-thumbnail">
                    </a>
                </div>
                <div class="playlist-desc {{ view_style }}">
                    <a href="{% url 'custom_playlist_id' playlist.playlist_id %}"><h2>{{ playlist.playlist_name }}</h2></a>
                    <p>Last updated: {{ playlist.playlist_last_refresh }}</p>
                    <button type="button" data-id="{{ playlist.playlist_id }}" onclick="deleteCustomPlaylist(this)" title="Remove {{ playlist.playlist_name }}">Remove</button>
                </div>
            </div>
            {% endfor %}
        {% else %}
            <h2>No playlists found...</h2>
        {% endif %}
    </div>
</div>
<script type="text/javascript" src="{% static 'progress.js' %}"></script>
{% endblock playlist_content %}