{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TA | Welcome</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'favicon/site.webmanifest' %}">
    <link rel="mask-icon" href="{% static 'favicon/safari-pinned-tab.svg' %}" color="#01202e">
    <link rel="shortcut icon" href="{% static 'favicon/favicon.ico' %}">
    <meta name="apple-mobile-web-app-title" content="TubeArchivist">
    <meta name="application-name" content="TubeArchivist">
    <meta name="msapplication-TileColor" content="#01202e">
    <meta name="msapplication-config" content="{% static 'favicon/browserconfig.xml' %}">
    <meta name="theme-color" content="#01202e">
    <link rel="stylesheet" href="{% static 'css/' %}{{ stylesheet }}">
</head>
<body>
    <div class="boxed-content login-page">
        <img alt="tube-archivist-logo">
        <h1>Tube Archivist</h1>
        <h2>Your Self Hosted YouTube Media Server</h2>
        {% if form_error %}
            <p class="danger-zone">Failed to login.</p>
        {% endif %}
        <form action="/login/" method="POST" name="login">
            {% csrf_token %}
            {{ form.username }}<br>
            {{ form.password }}<br>
            <p>Remember me: {{ form.remember_me }}</p>
            <input type="hidden" name="next" value="{{ request.GET.next }}" />
            <button type="submit">Login</button>
        </form>
        <p class="login-links"><span><a href="https://github.com/tubearchivist/tubearchivist" target="_blank">Github</a></span> <span><a href="https://github.com/tubearchivist/tubearchivist#donate" target="_blank">Donate</a></span></p>
    </div>
    <div class="footer-colors">
        <div class="col-1"></div>
        <div class="col-2"></div>
        <div class="col-3"></div>
    </div>
</body>
</html>