{% extends "home/base.html" %}
{% block content %}
<div class="boxed-content">
    <div class="title-bar">
        <h1>Search</h1>
    </div>
    <div class="multi-search-box">
        {{ search_form }}
    </div>
    <div>
        <h2>Video Results</h2>
        <div id="video-results" class="video-list grid">
            <p>No videos found.</p>
        </div>
    </div>
    <div>
        <h2>Channel Results</h2>
        <div id="channel-results">
            <p>No channels found.</p>
        </div>
    </div>
    <div>
        <h2>Playlist Results</h2>
        <div id="playlist-results">
            <p>No playlists found.</p>
        </div>
    </div>
</div>
{% endblock content %}
