{% extends "home/base_settings.html" %}
{% load static %}
{% block settings_content %}
<div class="title-bar">
    <h1>User Configurations</h1>
</div>
<form action="{% url 'settings_user' %}" method="POST" name="user-update">
    {% csrf_token %}
    <div class="settings-group">
        <h2>Stylesheet</h2>
        <div class="settings-item">
            <p>Current stylesheet: <span class="settings-current">{{ stylesheet }}</span></p>
            <i>Select your preferred stylesheet.</i><br>
            {{ user_form.stylesheet }}
        </div>
    </div>
    <div class="settings-group">
        <h2>Archive View</h2>
        <div class="settings-item">
            <p>Current page size: <span class="settings-current">{{ page_size }}</span></p>
            <i>Result of videos showing in archive page</i><br>
            {{ user_form.page_size }}
        </div>
    </div>
    <button type="submit" name="user-settings">Update User Configurations</button>
</form>
{% if request.user.is_superuser %}
    <div class="title-bar">
        <h1>Users</h1>
    </div>
    <div class="settings-group">
        <h2>User Management</h2>
        <p>Access the admin interface for basic user management functionality like adding and deleting users, changing passwords and more.</p>
        <a href="/admin/"><button>Admin Interface</button></a>
    </div>
{% endif %}
{% endblock settings_content %}
