{% extends "home/base_settings.html" %}
{% load static %}
{% block settings_content %}
<div class="title-bar">
    <h1>Application Configurations</h1>
</div>
<form action="{% url 'settings_application' %}" method="POST" name="application-update">
    {% csrf_token %}
    <div class="settings-group">
        <h2 id="subscriptions">Subscriptions</h2>
        <p>Disable shorts or streams by setting their page size to 0 (zero).</p>
        <div class="settings-item">
            <p>YouTube page size: <span class="settings-current">{{ config.subscriptions.channel_size }}</span></p>
            <i>Videos to scan to find new items for the <b>Rescan subscriptions</b> task, max recommended 50.</i><br>
            {{ app_form.subscriptions_channel_size }}
        </div>
        <div class="settings-item">
            <p>YouTube Live page size: <span class="settings-current">{{ config.subscriptions.live_channel_size }}</span></p>
            <i>Live Videos to scan to find new items for the <b>Rescan subscriptions</b> task, max recommended 50.</i><br>
            {{ app_form.subscriptions_live_channel_size }}
        </div>
        <div class="settings-item">
            <p>YouTube Shorts page size: <span class="settings-current">{{ config.subscriptions.shorts_channel_size }}</span></p>
            <i>Shorts Videos to scan to find new items for the <b>Rescan subscriptions</b> task, max recommended 50.</i><br>
            {{ app_form.subscriptions_shorts_channel_size }}
        </div>
        <div class="settings-item">
            <p>Auto start download from your subscriptions: <span class="settings-current">{{ config.subscriptions.auto_start}}</span></p>
            <i>Enable this will automatically start and prioritize videos from your subscriptions.</i><br>
            {{ app_form.subscriptions_auto_start }}
        </div>
    </div>
    <div class="settings-group">
        <h2 id="downloads">Downloads</h2>
        <div class="settings-item">
            <p>Current download speed limit in KB/s: <span class="settings-current">{{ config.downloads.limit_speed }}</span></p>
            <i>Limit download speed. 0 (zero) to deactivate, e.g. 1000 (1MB/s). Speeds are in KB/s. Setting takes effect on new download jobs or application restart.</i><br>
            {{ app_form.downloads_limit_speed }}
        </div>
        <div class="settings-item">
            <p>Current throttled rate limit in KB/s: <span class="settings-current">{{ config.downloads.throttledratelimit }}</span></p>
            <i>Download will restart if speeds drop below specified amount. 0 (zero) to deactivate, e.g. 100. Speeds are in KB/s.</i><br>
            {{ app_form.downloads_throttledratelimit }}
        </div>
        <div class="settings-item">
            <p>Current scraping sleep interval: <span class="settings-current">{{ config.downloads.sleep_interval }}</p>
            <i>Seconds to sleep between calls to YouTube. Might be necessary to avoid throttling. Recommended 3.</i><br>
            {{ app_form.downloads_sleep_interval }}
        </div>
        <div class="settings-item">
            <p><span class="danger-zone">Danger Zone</span>: Current auto delete watched videos: <span class="settings-current">{{ config.downloads.autodelete_days }}</span></p>
            <i>Auto delete watched videos after x days, 0 (zero) to deactivate:</i><br>
            {{ app_form.downloads_autodelete_days }}
        </div>
    </div>
    <div class="settings-group">
        <h2 id="format">Download Format</h2>
        <div class="settings-item">
            <p>Limit video and audio quality format for yt-dlp.<br>
                Currently: <span class="settings-current">{{ config.downloads.format }}</span>
            </p>
            <p>Example configurations:</p>
            <ul>
                <li><span class="settings-current">bestvideo[height<=720]+bestaudio/best[height<=720]</span>: best audio and max video height of 720p.</li>
                <li><span class="settings-current">bestvideo[height<=1080]+bestaudio/best[height<=1080]</span>: best audio and max video height of 1080p.</li>
                <li><span class="settings-current">bestvideo[height<=1080][vcodec*=avc1]+bestaudio[acodec*=mp4a]/mp4</span>: Max 1080p video height with iOS compatible video and audio codecs.</li>
                <li><span class="settings-current">0</span>: deactivate and download the best quality possible as decided by yt-dlp.</li>
            </ul>
            <i>Make sure your custom format gets merged into a single file. Check out the <a href="https://github.com/yt-dlp/yt-dlp#format-selection" target="_blank">documentation</a> for valid configurations.</i><br>
            {{ app_form.downloads_format }}
            <br>
        </div>
        <div class="settings-item">
            <p>Force sort order to have precedence over all yt-dlp fields.<br>
                Currently: <span class="settings-current">{{ config.downloads.format_sort }}</span>
            </p>
            <p>Example configurations:</p>
            <ul>
                <li><span class="settings-current">res,codec:av1</span>: prefer AV1 over all other video codecs.</li>
                <li><span class="settings-current">0</span>: deactivate and keep the default as decided by yt-dlp.</li>
            </ul>
            <i>Not all codecs are supported by all browsers. The default value ensures best compatibility. Check out the <a href="https://github.com/yt-dlp/yt-dlp#sorting-formats" target="_blank">documentation</a> for valid configurations.</i><br>
            {{ app_form.downloads_format_sort }}
            <br>
        </div>
        <div class="settings-item">
            <p>Prefer translated metadata language: <span class="settings-current">{{ config.downloads.extractor_lang }}</span></p>
            <i>This will change the language this video gets indexed as. That will only be available if the uploader provides translations. Add as two letter ISO language code, check the <a href="https://github.com/yt-dlp/yt-dlp#youtube" target="_blank">documentation</a> which languages are available.</i><br>
            {{ app_form.downloads_extractor_lang}}
        </div>
        <div class="settings-item">
            <p>Current metadata embed setting: <span class="settings-current">{{ config.downloads.add_metadata }}</span></p>
            <i>Metadata is not embedded into the downloaded files by default.</i><br>
            {{ app_form.downloads_add_metadata }}
        </div>
        <div class="settings-item">
            <p>Current thumbnail embed setting: <span class="settings-current">{{ config.downloads.add_thumbnail }}</span></p>
            <i>Embed thumbnail into the mediafile.</i><br>
            {{ app_form.downloads_add_thumbnail }}
        </div>
    </div>
    <div class="settings-group">
        <h2 id="format">Subtitles</h2>
        <div class="settings-item">
            <p>Subtitles download setting: <span class="settings-current">{{ config.downloads.subtitle }}</span><br>
            <i>Choose which subtitles to download, add comma separated language codes,<br>
                e.g. <span class="settings-current">en, de, zh-Hans</span></i><br>
            {{ app_form.downloads_subtitle }}</p>
        </div>
        <div class="settings-item">
            <p>Subtitle source settings: <span class="settings-current">{{ config.downloads.subtitle_source }}</span></p>
            <i>Download only user generated, or also less accurate auto generated subtitles.</i><br>
            {{ app_form.downloads_subtitle_source }}
        </div>
        <div class="settings-item">
            <p>Index and make subtitles searchable: <span class="settings-current">{{ config.downloads.subtitle_index }}</span></p>
            <i>Store subtitle lines in Elasticsearch. Not recommended for low-end hardware.</i><br>
            {{ app_form.downloads_subtitle_index }}
        </div>
    </div>
    <div class="settings-group">
        <h2 id="comments">Comments</h2>
        <div class="settings-item">
            <p>Download and index comments: <span class="settings-current">{{ config.downloads.comment_max }}</span><br>
            <i>Follow the yt-dlp max_comments documentation, <a href="https://github.com/yt-dlp/yt-dlp#youtube" target="_blank">max-comments,max-parents,max-replies,max-replies-per-thread</a>:</i><br>
            <p>Example configurations:</p>
            <ul>
                <li><span class="settings-current">all,100,all,30</span>: Get 100 max-parents and 30 max-replies-per-thread.</li>
                <li><span class="settings-current">1000,all,all,50</span>: Get a total of 1000 comments over all, 50 replies per thread.</li>
            </ul>
            {{ app_form.downloads_comment_max }}</p>
        </div>
        <div class="settings-item">
            <p>Selected comment sort method: <span class="settings-current">{{ config.downloads.comment_sort }}</span><br>
            <i>Select how many comments and threads to download:</i><br>
            {{ app_form.downloads_comment_sort }}</p>
        </div>
    </div>
    <div class="settings-group">
        <h2 id="format">Cookie</h2>
        <div class="settings-item">
            <p>Import YouTube cookie: <span class="settings-current">{{ config.downloads.cookie_import }}</span><br></p>
            <p>For automatic cookie import use <b>Tube Archivist Companion</b> <a href="https://github.com/tubearchivist/browser-extension" target="_blank">browser extension</a>.</p> 
            <i>For manual cookie import, place your cookie file named <span class="settings-current">cookies.google.txt</span> in <span class="settings-current">cache/import</span> before enabling. Instructions in the <a href="https://docs.tubearchivist.com/settings/application/#cookie" target="_blank">Wiki.</a></i><br>
            {{ app_form.downloads_cookie_import }}<br>
            {% if config.downloads.cookie_import %}
                <div id="cookieMessage">
                    <button onclick="handleCookieValidate()" type="button" id="cookieButton">Validate Cookie File</button>
                </div>
            {% endif %}
        </div>
    </div>
    <div class="settings-group">
        <h2 id="integrations">Integrations</h2>
        <div class="settings-item">
            <p>API token: <button type="button" onclick="textReveal(this)" id="text-reveal-button">Show</button></p>
            <div id="text-reveal" class="description-text">
                <p>{{ api_token }}</p>
                <button class="danger-button" type="button" onclick="resetToken()">Revoke</button>
            </div>
        </div>
        <div class="settings-item">
            <p>Integrate with <a href="https://returnyoutubedislike.com/" target="_blank">returnyoutubedislike.com</a> to get dislikes and average ratings back: <span class="settings-current">{{ config.downloads.integrate_ryd }}</span></p>
            <i>Before activating that, make sure you have a scraping sleep interval of at least 3 secs set to avoid ratelimiting issues.</i><br>
            {{ app_form.downloads_integrate_ryd }}
        </div>
        <div class="settings-item">
            <p>Integrate with <a href="https://sponsor.ajay.app/" target="_blank">SponsorBlock</a> to get sponsored timestamps: <span class="settings-current">{{ config.downloads.integrate_sponsorblock }}</span></p>
            <i>Before activating that, make sure you have a scraping sleep interval of at least 3 secs set to avoid ratelimiting issues.</i><br>
            {{ app_form.downloads_integrate_sponsorblock }}
        </div>
    </div>
    <div class="settings-group">
        <h2 id="snapshots">Snapshots</h2>
        <div class="settings-item">
            <p>Current system snapshot: <span class="settings-current">{{ config.application.enable_snapshot }}</span></p>
            <i>Automatically create daily deduplicated snapshots of the index, stored in Elasticsearch. Read first before activating: <a target="_blank" href="https://docs.tubearchivist.com/settings/application/#snapshots">Wiki</a>.</i><br>
            {{ app_form.application_enable_snapshot }}
        </div>
        <div>
            {% if snapshots %}
                <p>Create next snapshot: <span class="settings-current">{{ snapshots.next_exec_str }}</span>, snapshots expire after <span class="settings-current">{{ snapshots.expire_after }}</span>. <button onclick="createSnapshot()" id="createButton">Create snapshot now</button></p>
                <br>
                {% for snapshot in snapshots.snapshots %}
                    <p><button id="{{ snapshot.id }}" onclick="restoreSnapshot(id)">Restore</button> Snapshot created on: <span class="settings-current">{{ snapshot.start_date }}</span>, took <span class="settings-current">{{ snapshot.duration_s }}s</span> to create. State: <i>{{ snapshot.state }}</i></p>
                {% endfor %}
            {% endif %}
        </div>
    </div>
    <button type="submit" name="application-settings">Update Application Configurations</button>
</form>
{% endblock settings_content %}
